<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>todo-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let todo of todos" [routerLink]="['/home', 'todos', todo.id]">
      <ion-label text-wrap>
        {{todo.title}}
      </ion-label>
      <ion-icon name="checkmark-circle" slot="end" *ngIf="todo.completed; else alert"></ion-icon>
      <ng-template #alert>
        <ion-icon name="alert" slot="end"></ion-icon>
      </ng-template>
    </ion-item>
  </ion-list>

</ion-content>