<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/todos"></ion-back-button>
    </ion-buttons>
    <ion-title>todo-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>{{todo?.title}}</ion-item>
    <ion-item>{{todo?.id}}</ion-item>
    <ion-item>{{todo?.userId}}</ion-item>
    <ion-item>{{todo?.completed}}</ion-item>
  </ion-list>
</ion-content>