<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input placeholder="username" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="password" type="password"></ion-input>
    </ion-item>
    <ion-item>
    <ion-button slot="end" (click)="doLogin()" >Login</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
